<% list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
    <div class="bg-white rounded shadow h-100 d-flex flex-column">
      <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
      <div class="p-3 flex-grow-1">
        <strong>
          <%= movie.title %>
          <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span>
        </strong>
        <small class="text-muted"><%= movie.overview %></small>
      </div>
      <div class="p-3 d-flex align-items-end justify-content-between border-top mt-auto">
        <div>
          <i class="fas fa-quote-left me-2"></i>
          <small><%= bookmark.comment %></small>
        </div>
        <small>
          <%= link_to bookmark_path(bookmark),
                       data: {
                         turbo_method: :delete,
                         turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list?"
                       },
                       class: 'text-black' do
          %>
            <i class="fas fa-trash"></i>
          <% end %>
        </small>
      </div>
    </div>
  </div>
<% end %>
