<h1><%= @list.name %></h1>

<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <hr>
  <%= movie.title %><%= - movie.rating %>
  <hr>
  <%= movie.overview %>
  <hr>
  <%= bookmark.comment %>
<% end %>

 <%= link_to "Add a movie", new_list_bookmark_path(@list), class: 'btn btn-warning' %>
