<div class="modal fade" id="new_movie_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-black"><strong>Add a movie to your <%= list.name %> list</h5></strong>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= simple_form_for [list, bookmark] do |f| %>
        <div class="modal-body">
          <%= f.association :movie,
                            collection: Movie.all.order(:title),
                            prompt: "Select a movie",
                            input_html: { class: 'form-control custom-input' }
          %>
          <%= f.input :comment,
                       placeholder: "Enter a comment about the movie",
                       input_html: { class: 'form-control custom-input' }
          %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-custom" data-bs-dismiss="modal">Back</button>
          <%= f.submit "Add movie", class: "btn btn-custom" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
