<div class="form-single-container">
  <div class='container'>
    <h1 class="py-3">Log in</h1>
    <%= simple_form_for [resource], as: resource_name, url: session_path(resource_name) do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    wrapper_html: { class: 'col-12'},
                    input_html: { autocomplete: "email", class: 'form-input' }
        %>
        <%= f.input :password,
                    required: false,
                    wrapper_html: { class: 'col-12'},
                    input_html: { autocomplete: "current-password", class: 'form-input' }
        %>
        <div class="col-12 form-checkbox">
          <%= f.label :remember_me do %>
            <%= f.input_field :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <span class="form-checkbox-dummy"></span>
            <%= t 'activerecord.attributes.customer.remember_me' %>
          <% end %>
        </div>
      </div>
      
      <div class='row mb-2 justify-content-center'>
        <%= f.button :submit, 'Submit', class: 'btn btn-custom mt-4' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
